@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@layer base {
  :root {
    --engineering-orange: #ba2d0bff;
    --raisin-black: #191923ff;
    --naples-yellow: #f9dc5cff;
    --emerald: #2fbf71ff;
    --ghost-white: #f7f7ffff;
  }
} */

/* CSS HEX */
/* --fawn: #f7b267ff;
--atomic-tangerine: #f79d65ff;
--night: #0c0c0cff;
--french-blue: #1c77c3ff;
--picton-blue: #39a9dbff; */