@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --engineering-orange: #ba2d0bff;
    --raisin-black: #191923ff;
    --naples-yellow: #f9dc5cff;
    --emerald: #2fbf71ff;
    --ghost-white: #f7f7ffff;
  }
}

body {
  background: var(--raisin-black);
  color: var(--ghost-white);
}