@tailwind base;
@tailwind components;
@tailwind utilities;




body::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar {
  width: 12px;
  border: 2rem;
  border-color: #F5F5F5;
  background-color: #1041d393;
}


.scroll::-webkit-scrollbar {
  display: none;

}

/* 
@layer base {
  :root {
    --engineering-orange: #ba2d0bff;
    --raisin-black: #191923ff;
    --naples-yellow: #f9dc5cff;
    --emerald: #2fbf71ff;
    --ghost-white: #f7f7ffff;
  }
} */

:root {
  --slate-900: #101011;
  --neutral-900: #45474e;
  /* Black (Main) - #0B132B */
}


/* CSS HEX */
/* --fawn: #f7b267ff;
--atomic-tangerine: #f79d65ff;
--night: #0c0c0cff;
--french-blue: #1c77c3ff;
--picton-blue: #39a9dbff; */